{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/login.css') }}">

    <div class="container">

        <div class="heading">Connexion</div>
        <br>
        {# Afficher les messages flash de succès, expiration, ou erreur ici, avant le formulaire #}
        <div class="messages">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" style="background-color: #28a745; color: white;">{{ message }}</div>
            {% endfor %}

            {% for message in app.flashes('expired') %}
                <div class="alert alert-warning" style="background-color: #ffc107; color: black;">{{ message }}</div>
            {% endfor %}

            {% if error %}
                {% if error.messageKey == 'Invalid credentials.' %}
                    <div class="alert alert-danger">Identifiants invalides.</div>
                {% else %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            {% endif %}
        </div>

        {% if app.user %}
            {# Vérifiez si l'utilisateur a forcé son changement de mot de passe #}
            {% if app.user.isForcedMdp() %}
                <div class="alert alert-danger">
                    Vous devez changer votre mot de passe avant de pouvoir vous connecter.
                </div>
            {% endif %}
            <div class="alert">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% else %}
            <form method="post" class="form">
                <div class="input-field">
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                    <label for="username">Email</label>
                </div>

                <div class="input-field">
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                    <label for="password">Mot de passe</label>
                    <i class="passicon" onclick="togglePasswordVisibility()">👁</i>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="btn-container">
                    <button type="submit" class="btn">Connexion</button>
                </div>
            </form>
            <div class="signup-link">
                <span>Pas encore de compte ? <a href="{{ path('app_register') }}">S'inscrire</a></span>
            </div>
        {% endif %}

        <ul>
            <a href="{{ path('app_forgot_password') }}">Réinitialiser votre mot de passe</a>
        </ul>

    </div>

    <script>
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('password');
            const passIcon = document.querySelector('.passicon');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                passIcon.textContent = '🙈';
            } else {
                passwordInput.type = 'password';
                passIcon.textContent = '👁';
            }
        }
    </script>

{% endblock %}
