{% extends 'base.html.twig' %}

{% block title %}Hello MesStationsController!{% endblock %}

{% block body %}
        <link rel="stylesheet" href="{{ asset('css/mesStation.css') }}">

        <!-- Formulaire de recherche -->
        <div class="search-container">
                {{ form_start(form) }}
                <div class="search-input-wrapper">
                        {{ form_row(form.query, {'attr': {'class': 'search-input'}}) }}
                </div>
                <button type="submit" class="search-button">Rechercher</button>
                {{ form_end(form) }}
        </div>


        <div class="favorites-container">
                <h2>Mes Stations Favorites</h2>
                {% for message in app.flashes('success') %}
                        <div class="message-success">{{ message }}</div>
                {% endfor %}

                <div class="station-list">
                        {% for station in station_names %}
                                <div class="station-item">
                                        <div class="station-info">
                                                <h3>{{ station.name }}</h3>
                                        </div>
                                        <form action="{{ path('app_station_delete', {'id': station.id}) }}" method="post">
                                                <button type="submit" class="favorite-btn">Retirer des favoris</button>
                                        </form>
                                </div>
                        {% endfor %}
                </div>
        </div>

        <div>
                <h2>Les stations</h2>
                <div class="station-list">
                        {% for station in stations %}
                                <div class="station-item">
                                        <div class="station-info">
                                                <h3>{{ station.name }}</h3>
                                        </div>
                                        {% if station.getStationId() in favoriteStationIds %}
                                                <form action="{{ path('app_station_delete', {'id': station.getStationId}) }}" method="post">
                                                        <button type="submit">Retirer des favoris</button>
                                                </form>
                                        {% else %}
                                                <form action="{{ path('app_add_favorite', {'id': station.getStationId}) }}" method="post">
                                                        <button type="submit">Mettre en favoris</button>
                                                </form>
                                        {% endif %}
                                </div>
                        {% endfor %}
                </div>
        </div>
{% endblock %}
