{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/forgotPassword.css') }}">
    <div class="container">
        <div class="heading">Réinitialiser le mot de passe</div>

        {% if app.session.flashbag.has('success') %}
            <div class="alert">
                {{ app.session.flashbag.get('success')[0] }}
            </div>
        {% endif %}

        {{ form_start(form, { 'attr': {'class': 'form'} }) }}

        <div class="input-field">
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            {{ form_label(form.email, 'Adresse e-mail') }}
        </div>

        <div class="btn-container">
            {{ form_widget(form.submit, { 'attr': { 'class': 'btn' } }) }}
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}
