{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .form-container {
            margin: 2em auto;
            max-width: 600px;
            width: 95%;
            background-color: #fff;
            border-radius: 10px;
            padding: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .form-container h1 {
            font-size: 28px;
            text-align: center;
            margin-bottom: 20px;
            color: #333;
            font-weight: bold;
        }

        .form-container form {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .form-container .form-group {
            display: flex;
            flex-direction: column;
        }

        .form-container .form-group label {
            font-size: 14px;
            margin-bottom: 8px; /* Espacement entre le label et txt */
            color: #555;
        }

        .form-container input {
            padding: 12px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 8px;
            outline: none;
            transition: border-color 0.3s ease;
        }

        .form-container input:focus {
            border-color: #4CAF50;
        }

        .form-container button {
            padding: 15px;
            font-size: 18px;
            background: linear-gradient(135deg, #4CAF50, #208028);
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 100%;
            font-weight: bold; /* Ajout du gras */
        }


        .form-container button:hover {
            background-color: #45a049;
        }

        .form-container button:active {
            background-color: #398e3f;
        }

        .btn-container {
            display: flex;
            justify-content: center;
        }

        .error-message {
            color: #c9302c;
            background-color: #f2dede;
            border: 1px solid #ebccd1;
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
            text-align: center;
        }
    </style>

    <div class="form-container">
        <h1>Modifier votre mot de passe</h1>


        {% if app.session.flashbag.has('error') %}
            <div class="error-message">
                {{ app.session.flashbag.get('error')[0] }}
            </div>
        {% endif %}

        <div>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.currentPassword, 'Ancien mot de passe') }}
                {{ form_widget(form.currentPassword) }}
            </div>
            <div class="form-group">
                {{ form_label(form.newPassword, 'Nouveau mot de passe') }}
                {{ form_widget(form.newPassword) }}
            </div>
            <div class="form-group">
                {{ form_label(form.confirmPassword, 'Confirmer le mot de passe') }}
                {{ form_widget(form.confirmPassword) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
